
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h1>Welcome to the <%= title %></h1>
    <h3>Lorem ipsum dolor sit amet consectetur.</h3>
  
    <p>The library has the following record counts:</p>
    <div>
      <div>Book_count: <%= book_count %></div>
      <div>Book_instance_count: <%= book_instance_count %></div>
      <div>Author_count: <%= author_count %></div>
      <div>Genre_count: <%= genre_count %></div>
    </div>
  </div>
</body>
</html>

<!-- title: "Local Library Home",
book_count: numBooks,
book_instance_count: numBookInstances,
author_count: numAuthors,
genre_count: numGenres, -->

